.header .list {
    display: flex;
    justify-content: flex-end;
    gap : 12px;
}

body {
    margin: 0px;
}

.first {
    padding: 10px 400px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.first .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px;
}

ul {
    list-style-type: none;
}

.first .main {
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary, .list {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.first p {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.placeholder {
    padding: 15px 30px;
    background-color: grey;
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    flex-wrap: wrap;
    width: 400px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box {
    border:5px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}


.container {
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.container p {
    align-self: center;
}

.second h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    gap: 10px
}

.third {
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.third .quote {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.third h2 {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}

.third h3 {
    align-self: flex-end;
}


.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.fourth .blueRectangle {
    padding: 50px 180px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    gap: 200px;
}

.fourth .blueRectangle div{
    line-height: 10px;
    color: #E5E7EB;
}

.fourth button {
    border: 2px solid white;
    color: #E5E7EB;
    width: 150px;
    height: 40px;
    align-self: center;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 20px 0px;
}